<%= form_for(categories_product) do |f| %>
  <% if categories_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categories_product.errors.count, "error") %> prohibited this categories_product from being saved:</h2>

      <ul>
      <% categories_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.number_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
