<p id="notice"><%= notice %></p>

<h1>Categories Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories_products.each do |categories_product| %>
      <tr>
        <td><%= categories_product.product_id %></td>
        <td><%= categories_product.category_id %></td>
        <td><%= link_to 'Show', categories_product %></td>
        <td><%= link_to 'Edit', edit_categories_product_path(categories_product) %></td>
        <td><%= link_to 'Destroy', categories_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categories Product', new_categories_product_path %>
