<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Redmart", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
        <li><%= link_to "Start Shopping", '#' %></li>
        <li><%= link_to "Sign up as Member", users_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
